.block {
	background-color: #fafafa;
	margin-left: 10px;
	text-align: center;
	border-radius: 5px;
	width: 10%;
}

li {
	list-style-type: none; /* Убираем маркеры */
}
ul {
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.unit_temperature_f {
	visibility: hidden;
}