doctype html
html(lang='en')
  head
    title Jade
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    block head

  body.indigo.lighten-3
    block main
